body{
    background: radial-gradient( circle at top right, #1e1e2f, #0f0f1a, #000);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;

    color: #ffffff;

    font-family: 'Poppins', sans-serif;

}